<!DOCTYPE html>
<html>
  <head>
    <title>Web Hosting Manager</title>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'stricky_footer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <% if !session[:user_id].nil? %>
      <nav class="navbar navbar-expand-md navbar-light bg-faded navbar-custom">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Web Hosting Manager</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Maintenance
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/server_accounts">Manage Accounts</a>
                <!-- <a class="dropdown-item" href="#">Change Password</a>
                <a class="dropdown-item" href="#">Password Policy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>              
          </ul>
          <i class="fa fa-user text-white" aria-hidden="true"></i>&nbsp;
          <span class="text-capitalize"><%= session[:user_name] %></span>
        </div>
      </nav>

    <!-- Preloader -->
    <div id="animationLoadBackgroud" class="">
        <div id="osahanloading" class=""></div>
    </div>

    <% end %>
    <%= yield %>
    <% if !session[:user_id].nil? %>
      <footer class="footer">
        &nbsp;&nbsp;
        <span class="text">© JeonSoft Corporation</span>
      </footer>
    <% end %>
  </body>
</html>
